SUBSYSTEMS=="usb", ATTRS{idVendor}=="2500", ATTRS{idProduct}=="0022", GROUP:="usrp", MODE:="0660", ACTION="add", RUN+="service redhawk-usrp-uhd-b205 start"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2500", ATTRS{idProduct}=="0022", GROUP:="usrp", MODE:="0660", ACTION="remove", RUN+="service redhawk-usrp-uhd-b205 stop"
