SUBSYSTEMS=="usb", ENV{ID_VENDOR_ID}=="2500", ENV{ID_MODEL_ID}=="0022", ACTION=="add", RUN+="/sbin/service redhawk-usrp-uhd-b205 start"
SUBSYSTEMS=="usb", ENV{ID_VENDOR_ID}=="2500", ENV{ID_MODEL_ID}=="0022", ACTION=="remove", RUN+="/sbin/service redhawk-usrp-uhd-b205 stop"
